!!! 5
html(lang='en')
head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css', rel='stylesheet')
		link(href='../public/css/style.css', rel='stylesheet')
	body




		.container
			.col-md-12
				.navbar.navbar-default(role='navigation')
					.container-fluid
						.navbar-header
							.navbar-brand
								#{trip.tripName}
						.navbar-collapse.collapse
							ul.nav.navbar-nav
								li
									a(href='#') Check-in: #{trip.start}
								li
									a(href='#') Check-out: #{trip.end}
			.row-fluid
				.row
					.col-md-9
						.middleHeight			
							img(src="http://lorempixel.com/1500/600/abstract/2")
							.middletext.carousel-caption
								h1 Where we will stay...
								p
									| Delete one of the following hotel, or single click to learn more about hotel.
								br
								p
									a.btn.btn-large.btn-primary(href="#") Learn more



					.col-md-3
						.middleHeight



				br
				br
				br
				.span8
					.col-md-12
						#myCarousel.carousel.slide
							.carousel-inner
								.item.active
									.row
										-each candidateHotel in trip.candidateHotels
											.col-sm-2.col-xs-2
												a.thumbnail(href='#5 col-xs-5')
														img.img-responsive(src='#{candidateHotel.thumbnailURL}', alt='Image')

				.span8
					.col-md-12
						.chat
							input.chat-name(type='text', placeholder='Enter your name')
							.chat-messages
							textarea(placeholder='Type your message')
							.chat-status
								| Status:
								span Idle

 

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js')
		script(src='../public/js/customized.js')
		script(type='text/javascript', src='http://localhost:3000/socket.io/socket.io.js')
		script(type='text/javascript')
			(function(){
			var getNode = function(s){
			return document.querySelector(s);
			};
			//get required nodes
			var status = getNode('.chat-status span');
			var messages = getNode('.chat-messages')
			var textarea = getNode('.chat textarea');
			var chatName = getNode('.chat-name');
			var statusDefault = status.textContent;
			var setStatus = function(s){
			status.textContent = s;
			//this will bring back the status to defualt status after the send a message or change status
			//with delay of 3 seconds
			if(s !== statusDefault){
			var delay = setTimeout(function(){
			setStatus(statusDefault);
			clearInterval(delay);
			},3000);
			}
			};
			// test status message
			//setStatus('Testing');
			try{
			var socket = io.connect('http://localhost:3000');
			}catch(e){
			// Set status to warn user
			}
			if(socket !=='undefined'){
			// console.log('OK!');
			//Listen for output
			//listen for new emitted messages
			socket.on('output',function(data){
			// console.log(data); test if we will get object
			if(data.length){
			//loop through results
			for(var x=0;x<data.length;x++){
			var message = document.createElement('div');
			message.setAttribute('class','chat-message');
			message.textContent = data[x].name + ': ' +data[x].message;
			//Append
			messages.appendChild(message);
			messages.insertBefore(message, messages.firstChild)
			}
			}
			});
			//Listen for status
			socket.on('status',function(data){
			setStatus((typeof data ==='object')? data.message:data);
			if(data.clear === true){
			textarea.value='';
			}
			});
			//listen for keydown
			textarea.addEventListener('keydown',function(event){
			var self= this,
			name = chatName.value;
			// console.log(event.which); show which key you press
			// console.log(event);
			if(event.which ===13 && event.shiftKey ===false){
			socket.emit('input', {
			name:name,
			message:self.value
			});
			event.preventDefault();
			}
			},false)
			}
			})();


